/* static/css/cozy_spacing.css */
.navBtn,
.favBtn {
    margin: 1.25rem;
}

@media (max-width: 575.98px) {
    .container.compact {
        max-width: 520px !important;
    }
}

/* Small devices */
@media (min-width: 576px) {
    .container.cozy {
        max-width: 620px !important;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    .container.cozy {
        max-width: 820px !important;
    }

}

/* Large devices */
@media (min-width: 992px) {
    .container.cozy {
        max-width: 1020px !important;
    }
}

/* XX-Large devices */
@media (min-width: 1400px) {
    .container.cozy {
        max-width: 1320px !important;
    }

}