/* remote/static/remote/css/dual_remote.css */

/* Dual Remote */
#dualRemote .accordion {
    box-shadow: 0px 0px 8px var(--bs-light) !important; 
}

#dualRemote .accordion-button:not(.collapsed) {
    transform: scale(1.01);
    border-radius: 10px;
    background-color: var(--bs-primary);
    box-shadow: 0 2px 4px var(--bs-secondary) !important;
}

#dualRemote .accordion-button {
    font-size: 1.75rem;
    color: var(--bs-secondary);
}

#dualRemote .btn {
  transition: background-color 0.3s ease;
  background-color: var(--bs-gray) !important;
  color: var(--bs-dark) !important;
  box-shadow: 0 0 4px var(--bs-light) !important; 
}

#dualRemote .btn:hover {
    background-color: var(--bs-light) !important;
    color: var(--bs-dark) !important;
    box-shadow: inset 0 0 8px var(--bs-dark) !important; 
}