/* static/css/styles.css */
/* Both Remotes */
#singleRemote,
#dualRemote {
  background: linear-gradient(0deg, rgb(43, 1, 43), rgb(32, 1, 82));
}

/* Large devices */
@media(min-width: 992px) {
  .navBtnIcon {
    font-size: 7vw;
    width: 100%;
  }
}

/* `lg` applies to medium devices */
@media(max-width: 991.98px) {
  .navBtnIcon {
    font-size: 10vw;
    width: 100%;
  }
}

.navBtn,
.favBtn {
  width: 80%;
  height: 80%;
}

.favBtnImg {
  width: 70% !important;
  height: auto;
}