/* static/css/styles.css */
/* Both Remotes */

/* Large devices */
@media (min-width: 992px) {
  .navBtnIcon {
    font-size: 7vw;
    width: 100%;
  }
}

.navBtn,
.favBtn {
  width: 75%;
  height: 75%;
  margin: 1rem;
}
#navTab, 
#favTab {
  background: #00242b !important;
  color: #7de38d !important;
  border: 1px solid #7de38d !important;
  font-family: "Poetsen One", sans-serif !important;
  font-size: 1.2rem !important;
}


.favBtnImg {
  width: 70% !important;
  height: auto;
}

#singleRemote .nav-link.active {
  color: #00242b !important;
  background: #7de38d !important;
}

#singleRemote button {
  transition: all 0.5s ease;
  background: var(--bs-gray) !important;
  color: var(--bs-dark) !important;
  box-shadow: 0 0 4px var(--bs-light) !important;
}

.container.compact {
  max-width: 950px !important;
}
