{% load static %}
<div class="d-flex flex-lg-column flex-row flex-grow-1 align-items-start ps-2 pe-1 py-lg-4 py-3">
  <a href="https://alexander-shelton.github.io/djangoWebRemote/" class="navbar-brand d-flex mb-lg-0 text-decoration-none">
    <span class="d-block">DWR</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-lg-column flex-row flex-nowrap flex-shrink-1 flex-lg-grow-0 flex-grow-1 mb-lg-auto mb-0 justify-content-center align-items-center" id="menu">
    <!-- Home -->
    <li class="nav-item">
      {% url 'home' as home %}
      <a href="{% url 'home' %} " class="nav-link text-info rounded-3 {% if request.get_full_path == home %}active{% endif %}">
        <i class="bi bi-house-fill me-lg-2"></i>
      </a>
    </li>
    <!-- About -->
    <li class="nav-item">
      {% url 'about' as about %}
      <a href="{% url 'about' %}" class="nav-link text-info rounded-3 {% if request.get_full_path == about %}active{% endif %}">
        <i class="bi bi-info-square-fill me-xl-2"></i>
      </a>
    </li>
    <!-- Remote -->
    <li class="nav-item">
      {% url 'remote_control' as remote %}
      <a href="{% url 'remote_control' %}" class="nav-link text-info rounded-3 {% if request.get_full_path == remote %}active{% endif %}">
        <i class="bi bi-dpad-fill me-lg-2"></i>
      </a>
    </li>
    <!-- Voice Remote -->
    <li class="nav-item">
      {% url 'voice_remote' as voice_remote %}
      <a href="{% url 'voice_remote' %}" class="nav-link text-info rounded-3 {% if request.get_full_path == voice_remote %}active{% endif %}">
        <i class="bi bi-mic-fill me-lg-2"></i>
      </a>
    </li>
    <!-- Settings -->
    <li class="nav-item">
      {% url 'settings' as settings %}
      <a href="{% url 'settings' %}" class="nav-link text-info rounded-3 {% if request.get_full_path == settings %}active{% endif %}">
        <i class="bi bi-sliders me-lg-2"></i>
      </a>
    </li>
    <!-- Help -->
    <!-- <li class="nav-item">
      {% url 'help' as help %}
      <a href="{% url 'help' %}"  id="navLink" class="nav-link text-info rounded-3 {% if request.get_full_path ==  help %}active{% endif %}">
        <i class="bi bi-question-circle-fill me-lg-2"></i><span class="d-none d-lg-inline"> Help</span>
      </a>
    </li> -->
  </ul>
  <hr>
  <div class="dropdown ms-auto pe-3">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-person-circle"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      {% if user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="dropdown-item">Logout</button>
          </form>
        </li>
      {% else %}
        <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</div>