<!-- settings/templates/settings/change_layout.html -->
{% extends "base.html" %}
{% block title %} | Change Layout {% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'settings/css/settings.css' %}">
{% endblock %}
{% block content %}
<section id="settings" class="change-layout">
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="col-lg-8 col-sm-10 col-12 mx-auto">
      <!-- Remote Setting's Card -->
      <div class="card">
        <div class="card-header text-center">
          <h2 class="card-title">Layout Settings</h2>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <!-- Button Spacing --> 
            <div class="row text-center mb-3">
              <h4 id="settingLabel" class="fw-bold">Button Spacing</h4>
              <div class="text-muted fs-5">Choose the amount of space between buttons.</div>
            </div>
            <div class="row text-center text-md-start d-flex justify-content-center align-items-center">
              <div class="col-md-8 mx-auto">
                  <ul class="list-unstyled">
                    <li class="list-item"><span class="text-secondary">Compact</span> has minimal spacing between buttons.</li>                    
                    <li class="list-item"><span class="text-secondary">Default</span> has moderate spacing between buttons.</li>
                    <li class="list-item"><span class="text-secondary">Cozy</span> has maximum spacing between buttons.</li>
                  </ul>
              </div>
              <div class="col-md-4 mx-auto">
                <select name="button_spacing" class="form-select form-select-lg mb-3" aria-label="Button Spacing">
                  <option value="COMPACT" {% if user_settings.button_spacing == "COMPACT" %}selected{% endif %}>Compact</option>
                  <option value="DEFAULT" {% if user_settings.button_spacing == "DEFAULT" %}selected{% endif %}>Default</option>
                  <option value="COZY" {% if user_settings.button_spacing == "COZY" %}selected{% endif %}>Cozy</option>
                </select>
              </div>
            </div>
            <hr>
            <!-- Single- or Dual- View -->
            <div class="row text-center mb-3">
              <h4 id="settingLabel" class="fw-bold">Remote Layout</h4>
              <div class="text-muted fs-5">Choose the layout of the remote.</div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-auto text-lg-start text-center">
                <ul class="list-unstyled">
                  <li class="list-item"><span class="text-secondary">Single</span> view shows all buttons on one screen.</li>
                </ul>
              </div>
              <div class="col-4 offset-4 mx-auto">
                <div class="form-check fs-3 ">
                  <input class="form-check-input" type="radio" name="dual_remote_view" id="singleView" value="False" {% if not user_settings.dual_remote_view %}checked{% endif %}>
                  <label class="form-check-label" for="singleView">Single</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-auto text-lg-start text-center">
                <ul class="list-unstyled">
                  <li class="list-item"><span class="text-secondary">Dual</span> view splits the remote into two screens.</li>
                </ul>
              </div>
              <div class="col-4 offset-4 mx-auto">
                <div class="form-check fs-3">
                  <input class="form-check-input" type="radio" name="dual_remote_view" id="dualView" value="True" {% if user_settings.dual_remote_view %}checked{% endif %}>
                  <label class="form-check-label" for="dualView">Dual</label>
                </div>
              </div>
            </div>
            <hr>
            <!-- Show Favorites First -->
            <div class="row text-center mb-3">
              <h4 id="settingLabel" class="fw-bold">Show Favorites First</h4>
              <div class="text-muted fs-5">Choose the order of the remote.</div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-auto text-lg-start text-center">
                <ul class="list-unstyled">
                  <li class="list-item"><span class="text-secondary">Navigation</span> - show the navigation remote first.</li>
                </ul>
              </div>
              <div class="col-4 offset-4 mx-auto">
                <div class="form-check fs-3">
                  <input class="form-check-input"  type="radio" name="show_favorites_first" id="navFirst" value="False" {% if not user_settings.show_favorites_first %}checked{% endif %}>
                  <label class="form-check-label" for="navFirst">Navigation</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 mx-auto text-lg-start text-center">
                <ul class="list-unstyled">
                  <li class="list-item"><span class="text-secondary">Favorites</span> - show the favorites remote first.</li>
                </ul>
              </div> 
              <!-- Show Favorites First -->
              <div class="col-4 offset-4 mx-auto">
                <div class="form-check fs-3">
                  <input class="form-check-input" type="radio" name="show_favorites_first" id="favFirst" value="True" {% if user_settings.show_favorites_first %}checked{% endif %}>
                  <label class="form-check-label" for="favFirst">Favorites</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row text-center mx-5 mt-4 mb-3">
              <div class="col-md-6">
                <a href="{% url 'settings' %}" class="btn btn-primary rounded-3 mx-auto my-lg-0 my-3">
                  <i class="fa-solid fa-arrow-left"></i>
                  <span class="px-2"></span>
                  Cancel
                </a>
              </div>
              <div class="col-md-6">
                <button type="submit" value="save" class="btn btn-primary rounded-3 mx-auto my-lg-0 my-3">
                  <i class="fa-solid fa-floppy-disk"></i>
                  <span class="px-2"></span>
                  Save Settings
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>  
    </div>
  </div>
</section>
{% endblock %}
