<!-- settings/templates/settings/settings.html -->
{% extends 'base.html' %}
{% block title %} | Account Settings {% endblock %}
{% load static %}
{% block content %}
<section id="settings" class="settings d-flex flex-column align-items-center min-vh-100">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="display-4 mt-2">Settings</h1>
        <p class="lead">Manage your account, remote, and TV settings</p>
      </div>
    </div>
    
    <div class="row g-4 mb-2">
      
      <!-- TV Settings Section -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card h-100" id="tvSettingsCard">
          <div class="card-header text-center">
            <h3 class="card-title">
              <i class="bi bi-tv me-2"></i>
              TV Settings
            </h3>
          </div>
          <div class="card-body text-center">
            <div class="d-grid gap-1">
            <hr>
              <p>Click the button below to change your TV settings.</p>
              <a href="{% url 'switch_tv' %}" class="btn btn-primary mb-2 mx-auto">Switch TV</a>
            <hr>
              <p>Click the button below to add a new TV.</p>
              <a href="{% url 'add_tv' %}" class="btn btn-primary mb-2 mx-auto">Add TV</a>
            <hr>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Favorites Settings Section -->
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card h-100" id="favoriteSettingsCard">
          <div class="card-header text-center">
            <h3 class="card-title">
              <i class="bi bi-star me-2"></i>
              Favorite Settings
            </h3>
          </div>
          <div class="card-body text-center">
            <div class="d-grid gap-1">
              <hr>
              <p>Click the button below to add a new favorite.</p>
              <a href="{% url 'edit_favorites' %}" class="btn btn-primary mb-2 mx-auto">Edit Favorites</a>
              <hr>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
