/* static/global/css/footer.css */

/* Footer Buttons */

.to-top-btn {
  opacity: 0;
}

.to-top-btn:hover,
.next-section-btn:hover {
  background-color: var(--bs-white) !important;
  color: var(--bs-secondary) !important;
  transition: all 0.5s ease-in-out;
}

.to-top-btn:hover {
  transform: translateY(-1rem);
}

.next-section-btn:hover {
  transform: translateY(1rem);
}

.show-btn {
  opacity: 1 !important;
  display: block;
}

.hide {
  opacity: 0 !important;
}

.hidden {
  display: none;
}

@media(max-width: 775.98px) {

  .to-top-btn,
  .next-section-btn {
    visibility: hidden;
  }
}