/* static/global/css/sidebar.css */

/* Sidebar */
@media (min-width: 992px) {
  #mainContent {
    padding-left: 200px !important;
  }

  #sidebar {
    height: 100vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 0 15px -5px rgba(128, 0, 128, 0.5);
    font-size: 1.3rem;
    width: 200px;
  }

  #sidebar .nav-link {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media (max-width: 991.98px) {
  #sidebar {
    z-index: 1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 10px 15px -5px rgba(128, 0, 128, 0.5);
}

  #sidebar .nav-link {
    margin-left: 0.3rem;
    margin-right: 0.3rem;

  }
  #sidebar #dropdownUser1 {
    margin-right: 0.25rem;
  }
}

@media (max-width: 450px) {
  #sidebar {
    font-size: 1rem !important;
  }
}

#sidebar {
  font-size: 1.3rem;
}

#sidebar .navbar-brand {
  font-family: "New Rocker";
  color: var(--bs-secondary) !important;
  font-weight: bold;
}

#sidebar .nav-link:hover {
  background-color: var(--bs-secondary) !important;
  color: var(--bs-dark) !important;
  box-shadow: 0 0 5px var(--bs-dark) !important;
  transform: scale(1.1);
  transition: all 2s ease-in-out;
}

#sidebar .nav-link.active {
  background-color: var(--bs-dark) !important;
  color: var(--bs-secondary) !important;
  box-shadow: 0 0 5px var(--bs-secondary) !important;
  animation-name: animate1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#sidebar .nav-link.active:hover {
  background-color: var(--bs-dark) !important;
  color: var(--bs-secondary) !important;
  box-shadow: 0 0 5px var(--bs-secondary) !important;
  text-wrap: nowrap !important;
}

@keyframes animate1 {
  to {
    transform: scale(1.2);
  }
}
