/* static/global/css/styles.css */
@font-face {
  font-family: "Poetsen One";
  src: url("../fonts/PoetsenOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Amethysta";
  src: url("../fonts/Amethysta-Regular.ttf") format("truetype");
}

body {
  background: #00242b !important;
  font-family: "Poetsen One", sans-serif;
}

.card-body {
  background: #00242b !important;
  box-shadow: 0 4px 5px rgba(125, 227, 141, 0.5);
}

.card-header {
  box-shadow: 0 4px 5px rgba(125, 227, 141, 0.5);
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  color: #7de38d !important;
  font-family: "Poetsen One", sans-serif;
}

#navigationMenu .nav-link {
  color: #7de38d !important;
  font-family: "Amethysta", sans-serif;
  font-weight: bold;
}

#navigationMenu .nav-link.active {
  color: #7de38d !important;
  background: #00242b !important;
}

.navbar-brand {
  color: #7de38d !important;
  font-family: "Poetsen One", sans-serif;
  font-weight: bold;
}

#tvTab,
#favoritesTab,
#voiceTab {
  background: #00242b !important;
  color: #7de38d !important;
  border: 1px solid #7de38d !important;
  font-family: "Poetsen One", sans-serif !important;
  font-size: 1.2rem !important;
}

#settingsTabs .nav-link.active {
  color: #00242b !important;
  background: #7de38d !important;
}

.card-title {
  color: #7de38d !important;
  font-family: "Poetsen One", sans-serif;
  font-weight: bold;
}