<!-- templates/accounts/password_reset_form.html -->
{% extends 'base.html' %}
{% block title %} | Password Reset Form  {% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/account_styles.css' %}">
{% endblock %}
{% block content %}
<section id="cardForm" class="password-reset-form">
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
        <div class="card text-center">
          <div class="card-header">
            <span class="fw-bold fs-3">Reset Password</span>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="row my-3">
                <p class="lead">Enter your email address and we’ll send you a link to reset your password.</p>
              </div>
              <div class="form-floating my-3">
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                <label for="email">Email</label>
              </div>
              <div class="row my-3"></div>  
              <hr>
              <div class="row mt-4 mb-3">
                <div class="col-md-6">
                  <a href="{% url 'login' %}" class="btn btn-primary rounded-3 mx-auto mb-lg-0 mb-3">
                    <i class="fa-solid fa-arrow-left"></i>
                    <span class="px-2"></span>
                    Back to Login
                  </a>
                </div>
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary rounded-3 mx-auto">
                    <i class="fa-solid fa-paper-plane"></i>
                    <span class="px-2"></span>
                    Send Reset Link
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}