<!-- accounts/password_change.html -->
{% extends 'base.html' %}
{% block title %} | Change Password {% endblock %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'accounts/css/account_styles.css' %}">
{% endblock %}
{% block content %}
<section id="cardForm" class="password-change">
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <h2 class="card-header text-center">Change Password</h2>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <div class="row text-center mx-5 mt-4 mb-3">
              <div class="col-md-6">
                <a href="{% url 'settings' %}" class="btn btn-primary rounded-3 mx-auto my-lg-0 my-3">
                  <i class="fa-solid fa-arrow-left"></i>
                  <span class="px-2"></span>
                  Cancel
                </a>
              </div>
              <div class="col-md-6">
                <button type="submit" value="save" class="btn btn-primary rounded-3 mx-auto my-lg-0 my-3">
                  <i class="fa-solid fa-floppy-disk"></i>
                  <span class="px-2"></span>
                  Save Settings
                </button>
              </div>  
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
