<!-- accounts/templates/accounts/password_change_done.html -->
{% extends 'base.html' %}
{% block title %} | Password Changed {% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/css/account_styles.css' %}">
{% endblock %}
{% block content %}
<section id="cardForm" class="password-change-done">
  <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="col-md-8 mx-auto">
      <div class="card text-center">
        <h2 class="card-header">Password Successfully Changed</h2>
        <div class="card-body text-center">
          <p>Your password was updated.</p>
          <a href="{% url 'home' %}" class="btn btn-outline-primary">
            <i class="fa-solid fa-arrow-left"></i>
            <span class="px-2"></span>
            Return Home
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
