<!-- pages/templates/pages/error/500.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %} | 500 Internal Server Error{% endblock %}

{% block navbar %}{% endblock %}  
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="row text-center">
    <h2 class="display-3">500 Internal Server Error</h2>
    <p class="card-text">An unexpected error has occurred. Please try again later.</p>
    <div class="col mx-auto">
      <a href="{% url 'home' %}" class="btn btn-primary my-4">Go to Home</a>
    </div>
  </div>
</div>
{% endblock %}