/* help/static/help/css/help.css */
#helpCenter {
background: linear-gradient(0deg, rgb(43, 1, 43), rgb(32, 1, 82)) !important;
}

#stepByStep {
  background: linear-gradient(180deg, var(--bs-primary), rgb(32, 1, 82)) !important;
}

#videoTutorials {
  background: linear-gradient(0deg, var(--bs-primary), rgb(32, 1, 82)) !important;
}

#troubleshooting {
  background: linear-gradient(180deg, var(--bs-primary), rgb(32, 1, 82)) !important;
}

#faqs {
  background: linear-gradient(0deg, var(--bs-primary), rgb(32, 1, 82)) !important;
}

#contact {
  background: linear-gradient(180deg, var(--bs-primary), rgb(32, 1, 82)) !important;
}

#contactUs {
  background: linear-gradient(180deg, var(--bs-primary), rgb(32, 1, 82)) !important;
}

#help {
  padding-left: 0;
  padding-right: 0;
}

.pagination {
  z-index: 1;
}

.page-link {
  background-color:  rgb(43, 1, 43);
  color: var(--bs-white) !important;
}

.pagination .page-link:hover {
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px 2px var(--bs-secondary);
}

.pagination .page-link.active {
  background-color:  rgb(32, 1, 82) !important; 
  color: var(--bs-secondary) !important;
  transform: translateY(-10px);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 2px 5px 2px var(--bs-secondary);
}