<!-- partials/_favorites_accordian.html -->
{% load static %}
<!-- Favorites Remote -->
<div id="favAccordion" class="accordion-item">
  <h2 class="accordion-header" id="favHeader">
    <button class="accordion-button {% if not favorites_first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#favAccordionRemote" aria-expanded="{{ favorites_first }}" aria-controls="favAccordionRemote">
      Favorites
    </button>
  </h2>
  <div id="favAccordionRemote" class="accordion-collapse collapse {% if favorites_first %}show{% endif %}" aria-labelledby="favHeader" data-bs-parent="#remoteAccordion">
    <div class="accordion-body text-center">
      <div class="favorites-wrapper {{ spacing_class }}">
        <div class="row {% if spacing_class == 'cozy' %}g-5{% elif spacing_class == 'default' %}g-3 {% else %}g-1{% endif %}">
          {% for button in favorite_buttons %}
            <div class="col-6 col-md-4 col-lg-3">
              <button id="favBtn" class="favBtn remote-button btn btn-light rounded-3" data-button-type="favorites" data-command="{{ button.target }}" data-target-type="{{ button.target_type }}" data-app-entry="{{ button.app_entry }}" aria-label="{{ button.name }}">
                <img class="favBtnImg" src="{{ button.get_svg_url }}" alt="{{ button.name }}">
              </button>
            </div>
          {% empty %}
            <div class="col-12">
              <p class="text-muted">No favorites selected.</p>
            </div>
            <div class="col-4 offset-4">
              <a href="{% url 'edit_favorites' %}" class="btn btn-primary">Add Favorites</a>
            </div>        
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
