<!-- pages/templates/pages/about.html -->
{% extends 'base.html' %}
{% block title %} | About {% endblock %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'pages/css/about.css' %}">
{% endblock %}
{% block content %}
<div id="about">
  <section id="intro" class="intro about">
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
      <h1 class="display-2 text-center">About Django WebRemote</h1>
      <div class="row text-center">
        <div class="col-lg-8 offset-lg-2 mx-auto">
          <p class="lead mt-3">
            Django WebRemote was built with accessibility in mind — a simple, 
            web-based remote designed for people who struggle with traditional remotes.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="why" class="why about pt-6 pt-lg-0 pb-lg-5 mb-0">
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
      <div class="row text-center">
        <div class="col-lg-6">
          <div class="display-4 mb-3 mt-0">Why Django WebRemote?</div>
          <div class="col mx-auto">
            <span class="fs-5 text-muted mb-md-4 mb-lg-0">
              Django WebRemote is a web-based remote control for your smart TV, designed to be simple and easy to use. 
              Django WebRemote was created to help people who struggle with traditional remotes, especially older adults or those with limited mobility. 
              It offers a simple, customizable interface to control your smart TV using just a few large, clear buttons.
            </span>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center pt-5 pt-lg-0">
          <div class="row">
            <div class="col-sm-6 col-lg-12 col-xl-6">
              <!-- Why We Started -->
              <button type="button" class="btn  btn-primary border rounded-pill text-nowrap my-2 my-lg-4" data-bs-toggle="modal" data-bs-target="#whyModal">Why We Started</button>
            </div>
            <div class="col-sm-6 col-lg-12 col-xl-6">
              <!-- Who It's For -->
              <button type="button" class="btn btn-primary border rounded-pill text-nowrap my-2 my-lg-4" data-bs-toggle="modal" data-bs-target="#whoModal">Who This is For</button>
            </div>
            <div class="col-sm-6 col-lg-12 col-xl-6">
              <!-- Where It's Going -->
              <button type="button" class="btn btn-primary border rounded-pill text-nowrap my-2 my-lg-4" data-bs-toggle="modal" data-bs-target="#futureModal">Where It's Going</button>
            </div>
            <div class="col-sm-6 col-lg-12 col-xl-6">
              <!-- Support Us -->
              <button type="button" class="btn btn-primary border rounded-pill text-nowrap my-2 my-lg-4" data-bs-toggle="modal" data-bs-target="#supportModal">Help Support Us</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modals -->
      <div id="modals">
        <!-- Why Modal -->
        <div class="modal fade" id="whyModal" tabindex="-1" aria-labelledby="whyModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="whyModalLabel">Why We Started</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="fs-5">
                  Django WebRemote started as a way to help my grandfather, who had a stroke and now has difficulty using voice commands or small remotes. 
                  The idea was to give him an easier way to control the TV — just by tapping a few large buttons on a tablet or browser.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
        <!-- Who Modal -->
        <div class="modal fade" id="whoModal" tabindex="-1" aria-labelledby="whoModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="whoModalLabel">Who This is For</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="fs-5">
                  It quickly became clear that Django WebRemote could help more people: seniors, 
                  those with limited mobility, or anyone who just wants a more intuitive way to navigate their smart TV.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
        <!-- Future Modal -->
        <div class="modal fade" id="futureModal" tabindex="-1" aria-labelledby="futureModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="futureModalLabel">Where It's Going</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="fs-5">
                  The remote is customizable, easy to use, and works on any device with a browser. It's still evolving — but the heart of the project remains the same: 
                  build something simple, helpful, and accessible.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> 
        <!-- futureModal End -->
        <!-- Support Modal -->
        <div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="supportModalLabel">Help Support Us</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p class="fs-5">
                  Django WebRemote is a passion project built to make technology more accessible. 
                  If you'd like to support the mission — whether through a small donation, sharing feedback, or contributing code — your help truly makes a difference. 
                  Every bit of support helps us improve and reach more people who need it.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'contribute' %}" class="btn btn-primary mx-auto">Contribute</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section>
  <section id="features" class="features about pt-5">
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
      <h2 class="display-4 text-center">Key Features</h2>
      <div class="col-lg-8 mx-auto mt-3">
        <!-- Features List -->
        <ul class="list-unstyled">
          <li class="list-item d-flex justify-content-between align-items-center">
            Favorites for quick access to channels and apps.
            <span class="badge text-bg-primary rounded-pill ms-3">
              <i class="bi bi-check-lg" style="font-size: 1.5rem;"></i>
            </span>
          </li>
          <hr>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Essential navigation buttons (volume, home, back, etc.)
            <span class="badge text-bg-primary rounded-pill ms-3">
              <i class="bi bi-check-lg" style="font-size: 1.5rem;"></i>
            </span>
          </li>
          <hr>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Customizable layout, spacing, and viewing options.
            <span class="badge text-bg-primary rounded-pill ms-3">
              <i class="bi bi-check-lg" style="font-size: 1.5rem;"></i>
            </span>
          </li>
          <hr>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Simple account settings and persistent preferences.
            <span class="badge text-bg-primary rounded-pill ms-3">
              <i class="bi bi-check-lg" style="font-size: 1.5rem;"></i>
            </span>
          </li>
          <hr>
        </ul> <!-- List End -->
      </div>
      <div id="links" class="col-lg-12 mx-auto mt-5 pb-4">
        <div class="row text-center">
          <div class="col-md-4 mt-lg-4 mt-1 mb-lg-3 mb-1">
            <a href="{% url 'home' %}" class="btn btn-primary text-nowrap rounded-3">Back To Home</a>
          </div>
          <div class="col-md-4 mt-lg-4 mt-1 mb-lg-3 mb-1">
            <a href="{% url 'remote_control' %}" class="btn btn-primary text-nowrap rounded-3">Go To Remotes</a>
          </div>
          <div class="col-md-4 mt-lg-4 mt-1 mb-lg-3 mb-1">
            <a href="{% url 'help' %}" class="btn btn-primary text-nowrap rounded-3">Check Out Help</a>
          </div>
        </div>
      </div>
    </div>
  </section> 
</div>
{% endblock %}
