<!-- pages/templates/pages/contribute.html -->
{% extends "base.html" %}
{% block title %} | Contribute {% endblock %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'pages/css/contribute.css' %}">
{% endblock %}
{% block content %}
<section id="contribute" class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="row text-center">
    <h1 class="display-2 mb-3">Contribute</h1>
    <div class="col-lg-4 mx-auto">
      <p class="lead">If you'd like to contribute to the project, please visit one of the links below.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-8 mx-auto">
      <p class="fs-5 text-muted">
        Your support helps us keep the project alive.
        <span class="text-danger"><i class="bi bi-heart-fill"></i></span>
      </p>
    </div>
  </div>
  <div class="row text-center position-relative bottom-0 py-4">
    <div class="col mx-auto">
      <a href="https://paypal.me/AlexanderShelton777?country.x=US&locale.x=en_US" class="btn btn-primary rounded-3"><i class="fab fa-paypal"></i></a>
    </div>
    <div class="col mx-auto">
      <a href="https://www.buymeacoffee.com/alexanderShelton" class="btn btn-primary rounded-3">☕</a>
    </div>
    <div class="col mx-auto">
      <a href="https://www.patreon.com/alexanderShelton" class="btn btn-primary rounded-3"><i class="fab fa-patreon"></i></a>
    </div>
  </div>
</section>
<!-- <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="alexanderShelton" data-description="Support me on Buy me a coffee!" data-message="" data-color="#BD5FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script> -->
{% endblock %}