/* settings/static/settings/css/settings.css */

#settings {
    background: linear-gradient(180deg, rgb(43, 1, 43), rgb(32, 1, 82)) !important;
}

@media (min-width: 992px) {
    .h-sm-100 {
        padding-left: 200px;
    }
}

.form-check-input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e"), var(--bs-gradient);
}